[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundles/snipmate"]
	path = vim/bundles/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundles/vim-addon-mw-utils"]
	path = vim/bundles/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundles/tlib"]
	path = vim/bundles/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundles/snipmate-snippets"]
	path = vim/bundles/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
