[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
    ignore = dirty
[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
    ignore = dirty
